@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";

::selection {
	background: black;
	text-shadow: none;
	color: white;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 50px;
}

a button {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	color: #5d5c5c;
}

h1 {
	font-size: 52px;
	font-weight: 300;
	margin-top: 80px;
}

h2 {
	text-align: center;
	font-size: 32px;
	font-weight: 300;
}

.fancybox-skin h2 {
	font-weight: 500;
	text-align: left;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h4 {
	font-weight: 500;
	font-size: 19px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:100%;
	height:auto;

	&.browser-logo {
		max-width: 50%;
	}
}

.navbar {
	.brand {
		padding: 0px;
		margin-left: 5px;

		h1 {
			font-weight: 500;
			float: left;
			display: block;
			// padding: 10px 20px 10px;
			// margin-left: -20px;
			margin-top: 0px;
			margin-bottom: 0px;
			font-size: 20px;
			// font-weight: 200;
			color: #555555;
			text-shadow: 0 1px 0 white;
		}

		img {
			margin-left: -40px;
			// margin-bottom: -30px;
			margin-top: 5px;
			margin-bottom: -40px;
		}
	}
} 

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	background-color: #E5E5E5;
}

.header {
	width: 100%;
	padding-top: 30px;
	margin-bottom: -100px;
}

[class*="span"] {
	margin-left: 0px;
}

.fancybox-skin {
	background: #fff !important;
}

.meta-value {
	font-weight: 300;
}

.row-fluid
.offset4:first-child {
	margin-left: 31.18803%;
}

/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.container {
		.navbar-fixed-top {
			position: fixed;
			right: 0;
			left: 0;

			.navbar-inner {
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}

		.navbar {
			width: 100%;

			.brand {
				padding: 0px;
				margin-left: 50px;

				h1 {
					font-weight: 500;
					float: left;
					display: block;
					// padding: 10px 20px 10px;
					// margin-left: -20px;
					margin-top: 0px;
					margin-bottom: 0px;
					font-size: 20px;
					// font-weight: 200;
					color: #555555;
					text-shadow: 0 1px 0 white;
				}

				img {
					margin-left: -40px;
					// margin-bottom: -30px;
					margin-top: 5px;
					margin-bottom: -40px;
				}
			}
		} 

		.header {
			display: none;
		}

		.container {
			width: auto;
			padding: 0;
		}
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.row-fluid
	.offset2:first-child {
		margin-left: 0%;
	}

	.row-fluid
	.offset4:first-child {
		margin-left: 0%;
	}

	.navbar-fixed-top {
		margin-left: -20px;
		margin-right: -20px;

		.navbar-inner {
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}

	.navbar {
		.brand {
			padding: 0px;
			margin-left: 50px;
			height: 40px;

			h1 {
				font-weight: 500;
				float: left;
				display: block;
				// padding: 10px 20px 10px;
				// margin-left: -20px;
				margin-top: -5px;
				margin-bottom: 0px;
				font-size: 20px;
				// font-weight: 200;
				color: #555555;
				text-shadow: 0 1px 0 white;
			}

			img {
				margin-left: -40px;
				// margin-bottom: -30px;
				margin-top: 5px;
				margin-bottom: -40px;
			}
		}
	}

	.header {
		display: none;
	}

	h1 {
		line-height: 50px;
		margin-top: 10px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}



