@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

::selection {
	background: black;
	text-shadow: none;
	color: white;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	color: #5d5c5c;
}

h1 {
	font-size: 52px;
	font-weight: 300;
	margin-top: 80px;
}

h2 {
	text-align: center;
	font-size: 32px;
	font-weight: 300;
}

.fancybox-skin h2 {
	font-weight: 500;
	text-align: left;
}

.span4 .btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h4 {
	font-weight: 500;
	font-size: 19px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar .brand {
	margin-left: 0px;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	background-color: #E5E5E5;
}

.header {
	width: 100%;
	padding-top: 30px;
	margin-bottom: -100px;
}

[class*="span"] {
	margin-left: 0px;
}

.fancybox-skin {
	background: #fff !important;
}

.meta-value {
	font-weight: 300;
}




/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}



